html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background: var(--color-page);
  color: var(--color-text);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
